{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">

<div class="col-md-6 mx-auto">

<br>
<h2>Eliminar Usuario</h2>
<br>

{% if messages %}
<ul class="errorlist nonfield">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
</form>

<button id="llamador" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">Eliminar</button>

</div></div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Esta seguro que quiere eliminar este usuario?</p>
      </div>
      <div class="modal-footer">
	<form id="borrar" method="POST"> {% csrf_token %}
        	     <input type="hidden" class="username" name="username" />
        	     <input type="hidden" class="password" name="password" />
        	     <input type="submit" class="btn btn-danger" id="confirmar" value="Confirmar">
        	     <a href="/verDatos" type="button" class="btn btn-primary">Cancelar</a>
	</form>
      </div>
    </div>
  </div>
</div>


<script>

var input = document.getElementById("id_password");
input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
    document.getElementById("llamador").click();
  }
});
var input = document.getElementById("id_email");
input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
    document.getElementById("llamador").click();
  }
});


$('#exampleModalCenter').on('show.bs.modal', function (event) {

var username = $('#id_email').val()
var password = $('#id_password').val()

$('#llamador').data('val1',username); //setter
$('#llamador').data('val2',password); //setter

  var myVal = $(event.relatedTarget).data('val1');
  $(this).find(".username").val(myVal);
  var myVal2 = $(event.relatedTarget).data('val2');
  $(this).find(".password").val(myVal2);

$('#confirmar').trigger('focus')

});




</script>

{% endblock %}