{% extends 'base.html' %}
{% load static %}

{% block title %}Modificar Contraseña{% endblock %}

{% block content %}

<div class="row">
<div class="col-md-6 mx-auto">

<br>

<h2>Modificar Contraseña</h2>

<br>

<div class="form-group well well-sm">
  <form method="POST">
     {% csrf_token %}
     {{ form.as_p }}
     <br>
     <button class="btn btn-primary" type="submit">Guardar</button>
  </form>
</div>

</div>
</div>

<script src="{% static 'js/modifypassword.js' %}"></script>

{% endblock %}
