{% extends 'base.html' %}



{% block content %}

<div class="row">
<div class="col-md-6 mx-auto">

<br>
<h2>Modificar Perfil</h2>
<br>


{% if cant < 0 %}
    <h3>El nombre de perfil ya esta en uso</h3>
    <a class="btn btn-primary" href="/modificarPerfil" role="button">Volver</a>
{% else %}
    <div class="col">
        <form method="POST">
            {% csrf_token %}
            <input type="text" value={{ perfil }} name="nuevo">
            <input type="submit" value="Guardar" >
        </form>
    </div>
{% endif %}

</div>
</div>

{% endblock %}