{% extends 'base.html' %}

{% load static %}

{% block title %}Pagar Suscripcion{% endblock %}

{% block content %}


<div class="row">
<div class="col-md-6 mx-auto">


<br>
    <h3 align="center">Pagar Suscripcion</h3>
<br>


{% if cant == 1 %}

<form method="POST">{% csrf_token %}
    <div class="form-group">
        <label for="tarjeta">Numero De Tarjeta</label>
        <input id="tarjeta" class="form-control" type="text" minlength="16" maxlength="16" placeholder="Ingrese su tarjeta"
               name="tarjeta" autocomplete="off" required pattern="\d{16,16}">
        <br>
        <button class="btn btn-primary" value="Pagar">Pagar</button>
    </div>
</form>

{% else %}
    {% if cant == 0 %}

    <h4>Ingresa la tarjeta registrada</h4>
      <a class="btn btn-warning" href="/pagarSuscripcion" role="button">Volver</a>

{% else %}

    <h4>Pago registrado con exito</h4>
      <a class="btn btn-warning" href="/" role="button">Home</a>

{% endif %}
{% endif %}

</div>
</div>

{% endblock %}